# Flutter / Dart
.dart_tool/
build/
.packages
.pub-cache/
.pub/
*.iml
*.log

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig

# IDE
.idea/
.vscode/

# Misc
*.lock